<nz-spin [nzSpinning]="loading" [nzIndicator]="indicatorTemplate">
    <form nz-form [formGroup]="formGroup">
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name" nzSpan="24">Nombre</nz-form-label>
                <nz-form-control nzErrorTip="Campo obligatorio.">
                    <input nz-input type="text" formControlName="name" placeholder="Ingresar Nombre" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-row>
            <nz-form-item>
                <nz-form-label nzFor="description" nzSpan="24">Descripción</nz-form-label>
                <nz-form-control nzErrorTip="Campo obligatorio.">
                    <textarea nz-input rows="3" formControlName="description"
                        placeholder="Ingresar Descripción"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-row>
            <div nz-col nzSpan="12" nzSm="12" nzXs="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="field4" nzSpan="24">Campo 4</nz-form-label>
                    <nz-form-control nzErrorTip="Campo obligatorio.">
                        <nz-select 
                            nzShowSearch nzAllowClear
                            nzPlaceHolder="Seleccione Campo 4"
                            formControlName="field4"
                        >
                            <nz-option *ngFor="let item of field4Items" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12" nzSm="12" nzXs="24">
                <nz-form-item>
                    <nz-form-label nzFor="field5" nzSpan="24">Campo 5</nz-form-label>
                    <nz-form-control>
                      <label nz-checkbox formControlName="field5"></label>
                    </nz-form-control>
                  </nz-form-item>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="12" nzSm="12" nzXs="24">
                <nz-form-item>
                    <nz-form-label nzRequired nzFor="field6Format" nzSpan="24">Campo 6</nz-form-label>
                    <nz-form-control nzErrorTip="Campo obligatorio.">
                        <nz-date-picker formControlName="field6Format" nzFormat="dd/MM/yyyy"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</nz-spin>
<ng-template #indicatorTemplate>
    <app-loading size="large"></app-loading>
</ng-template>

<div *nzModalFooter>
    <button nz-button (click)="onCancel()">
        <i nz-icon nzType="close"></i>Cancelar
    </button>
    <button nz-button nzType="primary" nzGhost (click)="onSave()">
        <i nz-icon nzType="save"></i>Guardar
    </button>
</div>